@model MinhasNotas.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Boletim</h1>

<div>
    <h4>Estudante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nome
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class = "col-sm-2">
            Data de Nascimento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
    </dl>
</div>
<table class="table">
   <thead>
        <tr>
            <th>
                Nota
            </th>
            <th>
                Data da Avaliação
            </th>
            <th>
                Disciplina
            </th>
        </tr>
    </thead>
    
    
    <tbody>
        @foreach (var item in Model.Grades)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataTest)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.Name)
                </td>

            </tr>
        }
    </tbody>
    
</table>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.Id">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>